$stepNavigator = {
  bullet: {
    width: 0.3em,
    height: 0.3em,
    offset: 0.3em,
    rotation: 45deg
  },
  color: {
    backgroundActive: white,
    backgroundInactive: lightgray,
    borderActive: green,
    borderInactive: lightgray
  }
}
