$cdn = {
  // assets: "https://static.redsift.io/assets"
  assets: ""
};

@import './config.import.styl';
@import './icons.import.styl';
@import './wizard.styl';
@import './connected.styl';

.steps-content {
  text-align: center;
}

// @import url('https://static.redsift.io/reusable/ui-rs-core/latest/css/ui-rs-core.min.css');
