// @import '../../../node_modules/@redsift/ui-rs-core/src/index.import.styl';


/* Step Components */
.steps-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%
}
.steps-component .steps-navigator {
  display: flex;
  justify-content: center;
  list-style-type: none;

  position: absolute;
  bottom: -90px;
  width: 100%;

  padding: 0;
}

.steps-component .steps-navigator li {
  display: inline-block;
  width: $stepNavigator.bullet.width
  height: $stepNavigator.bullet.height
  background: $stepNavigator.color.backgroundInactive;
  margin: $stepNavigator.bullet.offset;
  transform: rotate($stepNavigator.bullet.rotation);
  border: 1px solid $stepNavigator.color.borderInactive;
}
.steps-component .steps-navigator li.active-step {
  background: $stepNavigator.color.backgroundActive;
  border: 1px solid $stepNavigator.color.borderActive;
}
.steps-component .steps-content {
  width: 100%;
  box-sizing: border-box;
}
.steps-component .steps-content .form-title {
  color: #424242;
  font-weight: bold;
  font-size: 12px;
}
.steps-component .steps-content .form-data {
  width: 100%;
  float: left;
  clear: both;
}
.steps-component .steps-content .form-data label {
  float: left;
  clear: both;
  font-size: 14px;
  margin: 21px 0 5px;
  color: #525151;
}
.steps-component .steps-content .form-data input {
  width: 100%;
  float: left;
  clear: both;
  padding: 7px;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
}
.steps-component .steps-content .finish-button {
  width: 100px;
  background: red;
  float: right;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin: 20px 0 0;
  cursor: pointer;
}
.steps-component .steps-nav {
  float: left;
  clear: both;
}
.steps-component .steps-nav button {
  background: #50BB50;
  border: 0px;
  font-size: 21px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  height: 50px;
  position: absolute;
  outline: none;
}
.steps-component .steps-nav button:disabled {
  background: #ccc;
}
.steps-component .steps-nav .steps-nav-prev {
  left: -50px;
  top: 100px;
}
.steps-component .steps-nav .steps-nav-next {
  right: -50px;
  top: 100px;
}

/* Intro */
.intro {
  font-family: sans-serif;
  text-align: center;
}
.intro .title {
  font-size: 30px;
}

@media screen and (min-width: 232px) and (max-width: 481px) {
  .steps-component {
    width: 480px;
    height: 100%;
  }

  .steps-component .steps-navigator {
    margin: 1em 0;
  }
}

@media screen and (min-width: 701px) and (max-width: 1399px) {
  .steps-component {
    width: 700px;
  }

  .steps-component .steps-content {
    box-shadow: 0px 0px 8px #ccc;
  }

  .steps-component .steps-navigator {
    margin: 2em 0;
  }
}

@media screen and (min-width: 1400px) {
  .steps-component {
    width: 50vw;
  }
}
